*{
margin:0;
padding:0;
box-sizing:border-box;
transition: all 0.4s ease;
}

body{
font-family:'Poppins',sans-serif;
background:#0d0d0d;
color:white;
}

/* NAVBAR */
header{
position:fixed;
top:0;
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:rgba(15,15,15,0.6);
backdrop-filter:blur(12px);
z-index:1000;
}

header.scrolled{
background:rgba(0,0,0,0.95);
box-shadow:0 5px 20px rgba(0,0,0,0.5);
}

.logo{
font-family:'Playfair Display',serif;
font-size:24px;
}

nav ul{
display:flex;
gap:25px;
list-style:none;
}

nav a{
color:white;
text-decoration:none;
}

nav a:hover{
color:#d4af37;
}

/* HERO */
.hero{
height:100vh;
background:url("Imagenes/hero.jpg") center/cover fixed;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
}

.hero-content h1{
font-size:60px;
font-family:'Playfair Display';
}

.btn{
padding:14px 30px;
background:linear-gradient(90deg,#d4af37,#f1d57a);
border-radius:50px;
color:black;
text-decoration:none;
margin-top:20px;
display:inline-block;
position:relative;
overflow:hidden;
}

.btn::after{
content:"";
position:absolute;
left:-100%;
width:100%;
height:100%;
background:linear-gradient(120deg,transparent,rgba(255,255,255,0.6),transparent);
transition:0.5s;
}

.btn:hover::after{
left:100%;
}

/* QUOTE */
.quote{
text-align:center;
padding:80px;
font-style:italic;
color:#d4af37;
}

/* MENU */
.menu{
padding:100px 8%;
background:#111;
text-align:center;
}

.menu-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:30px;
}

.menu-card{
background:#1a1a1a;
border-radius:10px;
overflow:hidden;
box-shadow:0 10px 40px rgba(0,0,0,0.08);
}

.menu-card img{
width:100%;
height:200px;
object-fit:cover;
transition:0.5s;
}

.menu-card:hover img{
transform:scale(1.08);
}

.menu-grid:hover .menu-card{
opacity:0.5;
filter:blur(1px);
}

.menu-card:hover{
opacity:1 !important;
filter:none;
transform:scale(1.05);
}

/* ABOUT */
.about{
padding:120px 8%;
background:#111;
text-align:center;
}

.about-grid{
display:grid;
grid-template-columns:1fr 1.5fr 1fr;
gap:40px;
}

.img-left{
transform:rotate(-6deg);
}
.img-right{
transform:rotate(6deg);
}

/* CONTACT */
.contact{
padding:140px 8%;
background:#0d0d0d;
}

/* GLASS */
.glass{
background:rgba(255,255,255,0.05);
backdrop-filter:blur(10px);
border-radius:20px;
padding:40px;
}

/* SCROLL ANIMATION */
.fade-up{
opacity:0;
transform:translateY(60px);
}

.fade-up.show{
opacity:1;
transform:translateY(0);
}

/* WHATSAPP */
.whatsapp-btn{
position:fixed;
bottom:25px;
right:25px;
width:60px;
height:60px;
background:#25D366;
border-radius:50%;
display:flex;
justify-content:center;
align-items:center;
}

.whatsapp-btn img{
width:35px;
}

/* SCROLL BAR */
body::-webkit-scrollbar{
width:8px;
}
body::-webkit-scrollbar-thumb{
background:#d4af37;
}

/* TEXT SELECTION */
::selection{
background:#d4af37;
color:black;
}
